name: CI
on: [push]
jobs:
  package:
    runs-on: ubuntu-latest #艹不小心写错了系统名称，这种时候运行器就会处于一个一直在“正在启动的状态”
    container: almalinux
    steps: 
    - name: package
      run: |        
        dnf in -y epel-release
        dnf makecache
        dnf up -y
        dnf in -y gzip git git-lfs fastfetch cmake gcc
        
    - name: clone src
      run: |
        git lfs clone https://github.com/lwh2008/ll-rh.git
    - name: demo
      run: |
        cd ll-rh
        bash indep.sh
        find / -name Qt5Config.cmake
        find /usr/lib64/cmake/Qt5 -name Qt5Config.cmake
        ll-cli
    - name: info
      run: fastfetch